@model Dictionary<int, Cribbly.Models.Gameplay.BracketTeam[]>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/bracket.css" type="text/css" />
<h1>Bracket</h1>
@{
    if (Model.Count > 0)
    {
        <div class="bracket-container">
            @{
                foreach(var kv in Model) 
                {
                    <div class="round-container">
                        <h4>Round @kv.Key</h4>
                        @{
                            for(int i = 0; i < kv.Value.Length-1; i+=2) {
                                var t1 = kv.Value[i];
                                var t2 = kv.Value[i+1];
                                <div class="game-container">
                                    <div class="game">
                                        <div class="team">
                                            <div class="team-name @(@t1.IsEliminated() && kv.Key == t1.Round ? "eliminated" : "")">@t1.TeamName</div>
                                            @{
                                                if (t1.TeamName != "") 
                                                {
                                                    <div class="team-buttons">
                                                        <a class="btn btn-sm" href="@(@kv.Key == t1.Round ? @Url.Action("Advance", "Bracket", new{ round = kv.Key, seed = t1.Seed }) : "")">adv.</a>
                                                        <a class="btn btn-sm" href="@(@kv.Key == t1.Round ? @Url.Action("Unadvance", "Bracket", new{ round = kv.Key, seed = t1.Seed }) : "")">unadv.</a>
                                                    </div>
                                                }
                                            }
                                        </div>
                                        <div class="team">
                                            <div class="team-name @(@t2.IsEliminated() && kv.Key == t2.Round ? "eliminated" : "")">@t2.TeamName</div>
                                            @{
                                                if (t2.TeamName != "") 
                                                {
                                                    <div class="team-buttons">
                                                        <a class="btn btn-sm" href="@(@kv.Key == t2.Round ? @Url.Action("Advance", "Bracket", new{ round = kv.Key, seed = t2.Seed }) : "")">adv.</a>
                                                        <a class="btn btn-sm" href="@(@kv.Key == t2.Round ? @Url.Action("Unadvance", "Bracket", new{ round = kv.Key, seed = t2.Seed }) : "")">unadv.</a>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                }
            }
        </div>
    } else {
        <p>NOT SEEDED YET</p>
    }
}