@model Dictionary<int, Cribbly.Models.Gameplay.BracketTeam[]>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/bracket.css" type="text/css" />
<h1>Bracket</h1>
@{
    if (Model != null) 
    {
        <div class="bracket-container">
            @{
                foreach(var kv in Model) 
                {
                    <div class="round-container">
                        <h4>Round @kv.Key</h4>
                        @{
                            for(int i = 0; i < kv.Value.Length-1; i+=2) {
                                var t1 = kv.Value[i];
                                var t2 = kv.Value[i+1];
                                <div class="game-container">
                                    <div class="game">
                                        <a class="team team-admin" href="@Url.Action("Advance", "Bracket", new{ seed = t1.Seed })">
                                            @t1.TeamName
                                        </a>
                                        <a class="team team-admin" href="@Url.Action("Advance", "Bracket", new{ seed = t2.Seed })">
                                            @t2.TeamName
                                        </a>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                }
            }
        </div>
    } else {
        <p>NOT SEEDED YET</p>
    }
}