@model IEnumerable<Cribbly.Models.Standing>

@section cssLink {
    <link rel="stylesheet" href="~/css/largeTables.css" type="text/css" />
}

@{
    ViewData["Title"] = "GetAllStandings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tournament Standings</h2>

<hr />

<table class="table table-responsive">
    <thead>
        <tr>
            <th>Team Name</th>
            <th>Division</th>
            <th>Game 1 Score</th>
            <th>Game 2 Score</th>
            <th>Game 3 Score</th>
            <th>Total Score</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@Html.DisplayFor(modelItem => item.TeamName)</th>
                <td>@Html.DisplayFor(modelItem => item.Division)</td>
                <td>@Html.DisplayFor(modelItem => item.G1Score) (@Html.DisplayFor(modelItem => item.G1WinLoss))</td>
                <td>@Html.DisplayFor(modelItem => item.G2Score) (@Html.DisplayFor(modelItem => item.G2WinLoss))</td>
                <td>@Html.DisplayFor(modelItem => item.G3Score) (@Html.DisplayFor(modelItem => item.G3WinLoss))</td>
                <th>@Html.DisplayFor(modelItem => item.TotalScore)</th>
            </tr>
        }
    </tbody>
</table>