@model Cribbly.Models.Team

@{
    ViewData["Title"] = "MyTeam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlayerOne)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlayerOne)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlayerTwo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlayerTwo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Division)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Division)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
