@model Cribbly.Models.UserDataView

<link rel="stylesheet" href="~/css/largeTables.css" type="text/css" />

@{
    ViewData["Title"] = "MyTeam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Team</h2>
<hr />

<div class="row-divider row">
    <div class="col-xs-6">

        <dl>
            <dt>Team Name</dt>
            <dd>
                @Html.DisplayFor(model => model._team.Name)
                <a asp-action="Edit" asp-route-id="@Model._team.Id">Edit</a>
            </dd>
            <dt>@Html.DisplayNameFor(model => model._team.PlayerOne)</dt>
            <dd>@Html.DisplayFor(model => model._team.PlayerOne)</dd>
            <dt>@Html.DisplayNameFor(model => model._team.PlayerTwo)</dt>
            <dd>@Html.DisplayFor(model => model._team.PlayerTwo)</dd>
        </dl>
        <a class="btn" asp-controller="Games" asp-action="PostScore">Post Score</a>
    </div>

    @if (Model._standing != null)
    {
        <div class="col-xs-6">

            <table id="standing" class="table table-responsive">
                <tbody>
                    <tr class="headRow">
                        <th>Total Score: @Model._standing.TotalScore</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model._standing.G1Score)</th>
                        <td>@Html.DisplayFor(model => model._standing.G1Score)</td>
                        <td>@Html.DisplayFor(model => model._standing.G1WinLoss)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model._standing.G2Score)</th>
                        <td>@Html.DisplayFor(model => model._standing.G2Score)</td>
                        <td>@Html.DisplayFor(model => model._standing.G2WinLoss)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model._standing.G3Score)</th>
                        <td>@Html.DisplayFor(model => model._standing.G3Score)</td>
                        <td>@Html.DisplayFor(model => model._standing.G3WinLoss)</td>
                    </tr>
                </tbody>
            </table>
            <p>Note: Win/Loss results will appear as an 'X' until both teams have submitted scores.</p>
        </div>
    }
    else
    {
        <div class="col-sm-3">
            <p>Standings will appear here when they have been configured by the system administrator</p>
        </div>
    }
</div>



@if (Model._games.Count == 3)
{
    <table id="games" class="table table-responsive">
        <tr class="headRow">
            <td></td>
            <th>@Html.DisplayNameFor(model => model._games[0].Team1Name)</th>
            <th>@Html.DisplayNameFor(model => model._games[0].Team2Name)</th>

            @if (Model._3waygames.Count != 0)
            {
                <th>@Html.DisplayNameFor(model => model._3waygames[0].Team3Name)</th>
            }
            else
            {
                <td></td>
            }
            <th>@Html.DisplayNameFor(model => model._games[0].WinningTeamName)</th>
            <th>@Html.DisplayNameFor(model => model._games[0].ScoreDifference)</th>
        </tr>
        <tbody>
            <tr>
                <th><strong>Game 1 Info</strong></th>
                <td>@Html.DisplayFor(model => model._games[0].Team1Name)</td>
                <td>@Html.DisplayFor(model => model._games[0].Team2Name)</td>
                <td></td>
                <td>@Html.DisplayFor(model => model._games[0].WinningTeamName)</td>
                <td>@Html.DisplayFor(model => model._games[0].ScoreDifference)</td>
            </tr>
            <tr>
                <th><strong>Game 2 Info</strong></th>
                <td>@Html.DisplayFor(model => model._games[1].Team1Name)</td>
                <td>@Html.DisplayFor(model => model._games[1].Team2Name)</td>
                <td></td>
                <td>@Html.DisplayFor(model => model._games[1].WinningTeamName)</td>
                <td>@Html.DisplayFor(model => model._games[1].ScoreDifference)</td>
            </tr>
            <tr>
                <th><strong>Game 3 Info</strong></th>
                <td>@Html.DisplayFor(model => model._games[2].Team1Name)</td>
                <td>@Html.DisplayFor(model => model._games[2].Team2Name)</td>
                @if (Model._3waygames.Count != 0)
                {
                    <td>@Html.DisplayFor(model => model._3waygames[0].Team3Name)</td>
                }
                else
                {
                    <td></td>
                }
                <td>@Html.DisplayFor(model => model._games[2].WinningTeamName)</td>
                <td>@Html.DisplayFor(model => model._games[2].ScoreDifference)</td>
            </tr>
        </tbody>
    </table>



}
else
{
    <p>Your game schedule will appear here when they have been configured by the system administrator</p>
}

