@model Cribbly.Models.UserDataView

@{
    ViewData["Title"] = "MyTeam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model._team.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model._team.Name)
            <a asp-action="Edit" asp-route-id="@Model._team.Id">Edit</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model._team.PlayerOne)
        </dt>
        <dd>
            @Html.DisplayFor(model => model._team.PlayerOne)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model._team.PlayerTwo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model._team.PlayerTwo)
        </dd>
    </dl>
</div>

@if (Model._standing != null)
{
    <h3>Total Score: @Model._standing.TotalScore</h3>

    <table>
        <tr>
            <td>@Html.DisplayNameFor(model => model._standing.G1Score)</td>
            <td>@Html.DisplayNameFor(model => model._standing.G1WinLoss)</td>
            <td>@Html.DisplayNameFor(model => model._standing.G2Score)</td>
            <td>@Html.DisplayNameFor(model => model._standing.G2WinLoss)</td>
            <td>@Html.DisplayNameFor(model => model._standing.G3Score)</td>
            <td>@Html.DisplayNameFor(model => model._standing.G3WinLoss)</td>
        </tr>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model._standing.G1Score)</td>
                <td>@Html.DisplayFor(model => model._standing.G1WinLoss)</td>
                <td>@Html.DisplayFor(model => model._standing.G2Score)</td>
                <td>@Html.DisplayFor(model => model._standing.G2WinLoss)</td>
                <td>@Html.DisplayFor(model => model._standing.G3Score)</td>
                <td>@Html.DisplayFor(model => model._standing.G3WinLoss)</td>
            </tr>
        </tbody>
    </table>


        <a asp-controller="Games" asp-action="PostScore">Post Score</a>
} else
{
    <p>Standings will appear here when they have been configured by the system administrator</p>
}


