@using Microsoft.AspNetCore.Identity
@using Cribbly.Data;

@inject UserManager<IdentityUser> UserManager
@inject ApplicationDbContext _context;

@model Cribbly.Models.ViewModels.PostScoreView;


<link rel="stylesheet" href="~/css/largeTables.css" type="text/css" />

@{
    ViewData["Title"] = "PostScore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Post Score</h2>

@Html.ValidationSummary();

<table class="table table-responsive">
    <thead>
        <tr>
            <th><h4>GAME @Model.GameNumber</h4></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>"@Model.Game.Team1Name" vs. "@Model.Game.Team2Name"</td>
        </tr>
    </tbody>
</table>

<form method="post" asp-action="PostScore">
    @{
        var user = @_context.ApplicationUsers.FirstOrDefault(m => m.Email == UserManager.GetUserName(User));
        <input asp-for="TeamId" type="hidden" value="@user.TeamId" />
        <input asp-for="GameNumber" type="hidden" value="@Model.GameNumber" />
    }

    <div class="form-group">
        <label>Enter your total score for game @Model.GameNumber</label>
        <input class="col-sm-6 form-control" asp-for="TotalScore" type="number" min="0" max="121" />
        <p>IMPORTANT: If you are not directed back to the My Team page, there was an issue with the scores. Talk to the team you played to ensure you both did not enter 121, or neither of you entered 121 for a score.</p>
    </div>

    <button class="btn" type="submit">Submit Score</button>
</form>